<div class="d-flex p-5">
    <div class="col-4 p-2">
        <div class="card">
        <img src="../../assets/istockphoto-1147544807-612x612.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title texto">Card title</h5>
          <p class="card-text texto">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn boton">Ver mas!</a>
        </div>
      </div>
    </div>
    <div class="col-4 p-2">
        <div class="card">
            <img src="../../assets/istockphoto-1147544807-612x612.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title texto">Card title</h5>
              <p class="card-text texto">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn boton">Ver mas!</a>
            </div>
          </div>
    </div>
    <div class="col-4 p-2">
        <div class="card">
            <img src="../../assets/istockphoto-1147544807-612x612.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title texto">Card title</h5>
              <p class="card-text texto">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn boton">Ver mas!</a>
            </div>
          </div>
    </div>
</div>