<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div class="d-flex row">
    <div class="linea d-flex">
        <div class="col-4 item"><i class="fas fa-user"></i></div><div class="col-8 itemtexto">Usuario </div>
    </div>
    <div class="linea d-flex">
        <div class="col-4 item"><i class="fas fa-star"></i></div><div class="col-8 itemtexto">Favoritos</div>
    </div>
    <div class="linea d-flex">
        <div class="col-4 item"><i class="fas fa-bell"></i></div><div class="col-8 itemtexto">Notificaciones</div>
    </div>
    <div class="linea d-flex">
        <div class="col-4 item"><i class="fas fa-archive"></i></div><div class="col-8 itemtexto">Guardados</div>
    </div>
    <div class="linea d-flex">
        <div class="col-4 item"><i class="fas fa-sign-out"></i></div><div class="col-8 itemtexto">Salir</div>
    </div>
</div>